<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIP Processing Controller Interface</title>

    <!-- CURRENT SCRIPTS HAVE TO BE BEFORE DATATABLES & ACE EDITOR -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/datatables.min.js"></script>
    <!--<script src="https://ajaxorg.github.io/ace-builds/src/ace.js"></script>-->
    <script src="/static/js/src-noconflict/ace.js"></script>

    <!-- CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/datatables.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/nav.css" rel="stylesheet">
    <link href="/static/css/editor.css" rel="stylesheet">

  </head>

  <body>


    {% include 'nav.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          {% block container %}{% endblock %}
        </div>
      </div>
    </div>

    <script src="/static/js/sbi_editor.js"></script>

  </body>
</html>
